/* RESET CSS  */

html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  
  ol, ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  button {
    border-style: none;
    padding: 0;
    background-color: unset;
  }
  button, a:hover {
    cursor: pointer;
  }

  button {
    transition:all 0.3s;
  }

/* SCROLLBAR  */

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: #333333;
  border-radius: 15px;
      
  }
*::-webkit-scrollbar-thumb {
  width: 8px;
  background: #828282;
  border-radius: 15px;
}
* {
    scrollbar-color:#535353 #373737 ;
}

/* DESCRIPTION LIST  */

dl {
  margin: 0;
}
dd {
  margin-left: 0;
}
table, thead, tbody, tfoot, tr, td {
  border: none;
}

/* BORDER RADIUS */

.about__first-illustration,
.about__second-illustration,
.knews-wrapper_background,
.knife-benefits__first-illustration,
.knife-benefits__second-illustration,
.about-product__drawing,
.about-product__illustration  {
  border-radius: 14px;
}

/* BODY  */

body {
  background: #373737;
}

/* CONTAINER  */

.container {
  max-width: 1320px;
  margin: 0 auto;
  height: 100%;
  padding: 0 15px;
}
.menu-container {
  max-width: unset;
  padding: 0 52px;
}


/* MENU  */

.menu {
  background-color: rgba(33, 33, 33, 0.8);
  backdrop-filter: blur(5.5px);
  width: 100%;
  height: 71px;
  position: fixed;
  top: 0;
  z-index: 2;
}
.menu__wrapper, 
.menu__list {
  display: flex;
  align-items: center;
}
.menu__wrapper {
  height: 100%;
  justify-content: space-between;
  align-items: center;
}
.menu__telephone,
.menu__telephone_adapt,
.menu__burger,
.menu__gps,
.menu__wishlist_on-the-left {
  height: 39px;
  padding: 8px;
}
.list_on-the-left {
  margin-left: 0;
}
.list_on-the-right {
  margin-right: 0;
  height: 39px;
  gap: 9px;
}
.list_on-the-right li {
  box-sizing: content-box;
  display: block;
  flex-shrink: 0;
  height: 23px;
  padding: 8px;
}

.menu__gps {
  margin-left: 7px;
}
.menu__telephone {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;  
  color: #FFFFFF;
  text-decoration: none;
  margin-left: 19px;
}
.menu__telephone:hover {
  text-decoration: underline;
}
.menu__wishlist_on-the-left,
.menu__telephone_adapt {
  display: none;
  /* margin-left: px !important; */
}
.menu__search {
  cursor: pointer;
}
.menu__logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/* HEADER  */

.header {
  position: relative;
  height: 71px;
}
.header__slider-wrapper {
  padding: 149px 0 0 0px;
}
.header__title {
  max-width: 602px;
  font-family: 'Jura', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 41px;
  line-height: 48px;
  color: #FFFFFF; 
}
.header__subtitle {
  max-width: 447px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 23px;
  color: #FFFFFF;
  margin-top: 24px;
}

/* MAIN  */

.knives-wrapper_background,
.product-list__illustration {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 14px;
  background: #272727;   
  height: 412px;
}
.product-list__img-link {
  padding: 15px;
}

[src="./img/black-knife.png"] {
  padding-bottom: 22px;
} /* Иллюстрации товаров не одинаковы по высоте */



/* INPUT NEWS  */

.product-list__news-wrapper {
  grid-column: 1/5;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 0 30px;
}
.product-list__news {
  font-family: 'Jura', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 27px;
  line-height: 42px;
  color: #FFFFFF;
  text-align: center;
}
.product-list__input-wrapper {
  margin-top: 17px;
  max-width: 276px;
  height: 59px;
  background: #272727;
  border-radius: 6px;
  display: flex;
  position: relative;
}
.product-list__input-email,
.product-list__input-button {
  display: block;
  background-color: unset;
  border: none;
  outline: none;
}
.product-list__input-email {
  max-width: 200px;
  padding-left: 26px;
}
.product-list__input-email,
.product-list__input-email::placeholder {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;    
  color: #FFFFFF;   
  opacity: 0.5;
}
.product-list__input-email:focus::placeholder {
  opacity: 0;
}
.product-list__input-button {
  width: 76px;
  border-radius: 6px;
  padding: 0;
  z-index: 2;
}
.product-list__input-button-arrow {
  position: absolute;
  top: 21px;
  right: 29px;
  z-index: 1;
}
.product-list__input-button-wrapper:hover {
  cursor: pointer;
  background-color: #1b1b1b;
  border-radius:0 6px 6px 0;
}

/* FOOTER  */

.footer {
  margin-top: 30px;
}
.info {
  background-color: #272727;
  padding: 44px 0 35px;
}
.info-container {
  display: flex;
  justify-content: space-between;
}
.info__main-info {
  max-width: 380px;
  display: grid;
  grid-template-columns: 194px auto;
  grid-template-rows: 46.5px auto auto;
  column-gap: 26px;
  row-gap: 29px;
}
.info__text {
  display: inline-block;
  grid-column: 1/3;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: #FFFFFF;
}
.info__logo {
  display: block;
  width: 100%;
}
.info__near-logo {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 17px;
  color: #FFFFFF;
  align-self: center ;
}
.info__navigation-and-media {
  max-width: 423px;
}
.info__navigation-title {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 28px;
  color: #FFFFFF;
}
.info__navigation-title:nth-child(3) {
  margin-top: 34px;
}

.info__navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 14px;
}
.info__navigation-list:last-child {
  margin-top: 0;
}
.info__navigation-links {
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #FFFFFF;
  opacity: 0.5;
  margin-right: 11px;
  transition: all 0.15s;
}
.info__navigation-links:hover {
  opacity: 1;
}
.info__social-media-wrapper {
  display: flex;
  gap: 23px;
  margin-top: 60px;
}
.info__contacts {
  max-width: 279px;
}
.info__contacts-title {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 28px;
  color: #FFFFFF;
}
.info__telephone {
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #FFFFFF;
  text-decoration: none;
  margin-top: 23px;
}
.info__email {
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #FFFFFF;
  text-decoration: none;
  margin-top: 9px;
}
.info__time {
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #FFFFFF;
  margin-top: 30px;
}
.info__adress {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #FFFFFF;
  margin-top: 18px;
}
.info__49-8-8 {
  margin-top: 32px;
}
.copyright__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.copyright__text {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  color: #FFFFFF;
  opacity: 0.5;
}
.copyright__tekappa {
  padding:34px 124px 37px 0;
}

/* ADAPT  */

@media screen and (max-width: 768.1px) {
  /* HEADER  */
  .header {
      background: linear-gradient(180deg, #000000 11.76%, rgba(0, 0, 0, 0) 100%), url(../img/menu-bnd-img2.jpg) ;
      background-size: cover;
      background-repeat: no-repeat;
  }
  .header__title {
      font-weight: 500;
      font-size: 24px;
      line-height: 28px;
  }
  .header__subtitle {
      font-size: 16px;
      line-height: 20px;
  }
  .header__more-link {
      margin-top: 27px;
  }
  .menu {
      background: rgba(0, 0, 0, 0.8);     
  }
  .header__slider-wrapper {
      padding: 131px 0 0 0;
  }
  .menu-container {
    padding: 0 17px;
  }
  .menu__telephone {
    display: none;
  }

  /* MAIN  */
  
  .knives-wrapper_background,
  .product-list__illustration {     
    height: 378.5px;
  }


  /* FOOTER  */
  
  .info-container {
      flex-direction: column;
  }
  .info__main-info {
      max-width: unset;
      column-gap: 20px;
      row-gap: 26px;
      margin-right: 20px;
  }
  .info__near-logo {
      font-weight: 400;
  }
  .info__navigation-and-media {
      max-width: unset;
      margin-top: 30px;
  }
  .info__navigation-list {
      margin-top: 15px;
  }
  .info__navigation-title {
      font-family: 'Jura', sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 21px;
      color: #FFFFFF;
  }
  .info__navigation-title:nth-child(3) {
      margin-top: 17px;
  }
  .info__social-media-wrapper {
      align-items: center;
      margin-top: 17px;
  }
  .info__navigation-list:last-child {
      align-items: center;
  }
  .info__navigation-links {
      display: block;
      height: 32px;
  }
  .info__contacts {
      max-width: unset;
      margin-top: 39px;
      display: grid;
      grid-template-columns: repeat(4, auto);
      grid-template-rows: repeat(3, auto);
      column-gap: 30px;
  }
  .info__text {
      color: #ADACAC;
  }
  .info__contacts-title {
      grid-column: 1/5;
  }
  .info__telephone,
  .info__email,
  .info__time,
  .info__adress {
      margin-top: 20px;
  }
  .info__49-8-8 {
      margin-top: 6px;
  }
  .info__telephone {
      font-size: 16px;
  }
  .info__adress {
      grid-row: 2/3;
      grid-column: 3/4;
  }
  .info__time {
      grid-column: 4/5;
  }
  .copyright__text {
      max-width: 482px;
      color: #ADACAC;
  }
  .copyright__tekappa {
      padding: 19px 0 36px;
  }
}

@media screen and (max-width: 723.1px) {
  .menu__telephone {
  display: none;
  }
}

/* MOBILE  */

@media screen and (max-width: 566px) { 
  /* HEADER  */
  .menu {
      height: 43px;
  }
  .menu__gps,
  .list_on-the-right {
      display: none;
  }
  .menu__logo {
      position: static;
      transform: none;
      height: 24px;
      width: 100px;
  }
  .menu__wishlist_on-the-left,
  .menu__telephone_adapt {
    display: block !important;
  }
  .list_on-the-left {
    height: 24px;
  }
  .menu__telephone, 
  .menu__telephone_adapt, 
  .menu__burger, 
  .menu__gps, 
  .menu__wishlist_on-the-left {
    width: unset;
    height: 100%;
    padding:  0;
    margin-right: 25px;
    margin-left: 0;
  }




  /* MAIN  */
  
  .knives-wrapper_background,
  .product-list__illustration {     
    height: 190px;
  }
  


  /* FOOTER  */
  .info__main-info {
      grid-template-columns: 139px auto;
      grid-template-rows: 33.31px auto auto;
  }
  .info__near-logo {
      font-weight: 500;
      font-size: 12px;
      line-height: 15px;
  }
  .info__text {
      font-size: 11px;
  }
  .info__navigation-links {
      margin-right: 30px;
  }
  .info__social-media-wrapper {
      flex-direction: column;
      gap: 15px;
      align-items: flex-start;
  }
  .info__contacts {
      margin-top: 30px;
      grid-template-columns: repeat(2, auto);
      grid-template-rows: repeat(4, auto);
      gap: 10px;
  }
  .info__contacts-title {
      grid-column: 1/3;
  }
  .info__telephone {
      grid-row: 2/3;
      grid-column: 1/2;
  }
  .info__email {
      grid-row: 2/3;
      grid-column: 2/3;
  }
  .info__adress {
      grid-row: 3/4;
      grid-column: 1/3;
      max-width: 196px;
  }
  .info__time {
      grid-row: 4/5;
      grid-column: 1/2;
  }
  .info__49-8-8 {
      grid-row: 4/5;
      grid-column: 2/3;
  }
  .copyright__wrapper {
      flex-direction: column;
      align-items: flex-start;
  }
  .copyright__text {
      padding-top: 15px;
  }
  .copyright__tekappa {
      padding: 0 0 14px;
  }
}

/* OPEN MENU  */

.open-menu {
  box-sizing: border-box;
  position: fixed;
  width: 524px;
  height: 100vh;
  left: -100%;
  top: 0px;
  z-index: 4;
  background: url(../img/menu-bnd-img1-blur.jpg);
  background-size: cover;
  padding: 40px 0 0 48px;
  transition: all 0.4s;
  overflow-x: auto;
}
.open-menu::-webkit-scrollbar {
  display: none;
}
.open-menu__buttons-wrapper {
  display: flex;
  justify-content: space-between;
}
.open-menu__list {
  display: none;
}
.open-menu__product-range-list {
  margin: 25px 0 53px;
}
.open-menu__product-range-link {
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 25px 0;
  text-decoration: none;
}
.open-menu__navigtion-link {
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  text-transform: uppercase;
  color: #FFFFFF;
  opacity: 0.6;
  margin-bottom: 25px;
  text-decoration: none;
}
.activated {
  left: 0px;
}
.nav-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.2s;
  z-index: -1;
}
.nav-overlay-open {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 4;
}
/* .lock {
  overflow: hidden;
  transition: all 0.3s;
} */

@media screen and (max-width: 566px) {
  .open-menu {
    padding: 30px 0 0 15px;
    width: 100%;
  }  
  .open-menu__list {
    display: flex;
  }
  .open-menu__product-range-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    margin: 15px 0;
  }
  .open-menu__product-range-link_first {
    margin: 30px 0 15px;
  }
  .open-menu__product-range-link_last {
    margin: 15px 0 30px;
  }

  .open-menu__product-range-list {
    margin: 0 ;
  }
  .open-menu__navigtion-link {
    margin-bottom: 30px;
  }
}

/* ANIMATED BUTTONS  */

.button-animated {
  position: relative;
  overflow:hidden;
  z-index: 2;
}
.button-animated::after {
  display: block;
  position: absolute;
  transition: 0.15s;
  content: "";
  width: 0;
  bottom: 0;
  background: #C80000;
  height: 120%;
  left: -10%;
  transform: skewX(15deg);
  z-index: -1;
}
.button-animated:hover::after {
  left: -10%;
  width: 120%;
  color: #FFFFFF;
  cursor: pointer;
}
 
/* ANIMATED MENU BUTTONS */

.menu__telephone,
.menu__burger,
.menu__gps,
.list_on-the-right li {
    transition: all 0.1s;
}

.menu__telephone:hover,
.menu__burger:hover,
.menu__gps:hover,
.menu__first-li-search:hover,
.menu__second-li-search:hover,
.menu__last-li-search:hover {
    background: rgba(200, 0, 0, 0.36);
    border-radius: 10px;
}

/* ANIMATED CARD PRODUCT  */

.product-list__illustration{
  transition: all .15s;
}
.knives-wrapper_background:hover,
.product-list__illustration:hover {
  outline: groove 2px #C80000;
  border-radius: 14px;
}

/* CARD PRODUCT PLUS  */ 

.product-list__add-to-wishlist {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ANIMATED LINKS */

.open-menu__product-range-link:hover,
.open-menu__navigtion-link:hover,
.product-list__name-of-knife:hover {
  opacity: 0.5;
}

/* SEARCH BUTTON  */


.menu__search-input-field,
.menu__search-wrapper,
.menu__last-li-search {
  transition: all 0.3s;
}
.menu__search-wrapper {
  display: block;
}

.menu__search-input-field {
  display: none;
}
.menu__search-input-field,
.menu__search-input-field::placeholder {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;    
  color: #FFFFFF;   
  opacity: 0.5;
}
.menu__search-input-field:focus::placeholder {
  opacity: 0;
}
.menu__search-reset {
  display: none;
}

/* clears the ‘X’ from Internet Explorer */
.menu__search-input-field::-ms-clear { display: none; width : 0; height: 0; }
.menu__search-input-field::-ms-reveal { display: none; width : 0; height: 0; }

/* clears the ‘X’ from Chrome */

.menu__search-input-field::-webkit-search-decoration,
.menu__search-input-field::-webkit-search-cancel-button,
.menu__search-input-field::-webkit-search-results-button,
.menu__search-input-field::-webkit-search-results-decoration { display: none; }

.menu__search-reset-icon {
  transform: rotate(45deg);
}

.search-menu_activated {
  border: solid 1px #ADACAC;
  border-radius: 10px;
}
.menu__search-input-field_activated {
  display: block;
  background-color: unset;
  outline: none;
  border: none;
  position: relative;
  top: -1px;
}
.searchReset_activated {
  display: block;
}
.menu__search-wrapper_activated {
  display: flex;
  align-items: center;
  gap: 5px;
  width: auto;
}
.menu__last-li-search_activated:hover {
  background: none;
}
.nav-overlay_activated {
  z-index: 1;
}

@media screen and (max-width: 921px) {
  .menu__search-input-field,
  .menu__search-input-field::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;    
  }
  .menu__first-li-search_activated,
  .menu__second-li-search_activated {
  display: none !important;
  }
}
@media screen and (max-width: 665px) {
  .menu__search-input-field {
    max-width: 100px;
  }
}