.container {
    max-width: 1232px;
    margin: 0 auto;
    height: 100%;
    padding: 0 17px;
}
.header {
    position: relative;
    height: 590px;
    /* background: url(../img/menu-bnd-img1.jpg);  */
    background-size: cover;
}
/* .header-banner-container {
    position: relative;
    z-index: 2;
} */

.menu {
    z-index: 2; 
}

.header__more-link  {
    display: block;
    width: 169px;
    margin-top: 39px;
    padding: 16px 34px;
    border: 2px solid #C80000;
    border-radius: 27px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 23px;
    color: #FFFFFF;    
    text-decoration: none;
    transition: .3s;
}
.products {
    box-sizing: border-box;
    padding: 60px 90px;
    display: flex;
    justify-content: space-between;
    gap: 21px;
}
.products__img {
    display: block;
    padding-bottom: 31px;
    margin: auto;
    fill: #C80000;
}
.products__link {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
    color: #FFFFFF;
    opacity: 0.4;
    text-decoration: none;
    transition: all 0.15s;
}
.products__link:hover {
    opacity: 1;
    color: #C80000;
}  
.products__kitchen-knife {
    text-align: center;
}
.product-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, auto);
    row-gap: 25px;
    column-gap: 18px;
}
.product-list__about-collection {
    grid-column: 1/3;
    display: flex;
    flex-direction: column;
    justify-content: end;
    max-width: 590px;
    height: 481px; 
    background: url(../img/tuotown-collection.jpg);
    background-size: cover;
    border-radius: 14px;
    overflow: hidden;
    text-decoration: none;
}
.product-list__about-collection:hover {
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5) ), url(../img/tuotown-collection.jpg);
    background-size: cover;
}
.product-list__about-collection-title-wrapper {
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    padding: 28px 26px;
}
.product-list__title {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 28px;
    color: #FFFFFF;
}
.product-list__knives-wrapper {
    position: relative;
    transition: all .15s;
    box-sizing: border-box;

}
.product-list__illustration{
    transition: all .15s;
}
.knives-wrapper_background:hover,
.product-list__illustration:hover {
    outline: groove 2px #C80000;
    border-radius: 14px;
}
.product-list__add-to-wishlist{
    position: absolute;
    width: 37px;
    height: 37px;
    top: 24px;
    right: 27px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.1s;
}
.product-list__add-to-wishlist:hover {
    background-color: #C80000;
}
.product-list__subtitle-wrapper {
    display: flex;
    gap: 28px;
}
.product-list__name-of-knife {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;
    color: #FFFFFF;  
    text-decoration: none;  
    padding-top: 12px;
}
.product-list__price {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 28px;
    color: #FFFFFF;
    opacity: 0.5;
}
.product-list__new {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 28px;
    color: #FF3232;
}
.knives-wrapper_background {
    background-image: url(../img/Insta\ cart.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.product-list__news-wrapper {
    grid-column: 1/5;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px 0;
}
.product-list__news {
    font-family: 'Jura', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 27px;
    line-height: 42px;
    color: #FFFFFF;
    text-align: center;
}
.product-list__input-wrapper {
    margin-top: 17px;
    width: 276px;
    height: 59px;
    background: #272727;
    border-radius: 6px;
    display: flex;
    position: relative;
}
.product-list__input-email,
.product-list__input-button {
    display: block;
    background-color: unset;
    border: none;
    outline: none;
}
.product-list__input-email {
    width: 200px;
    padding-left: 26px;
}
.product-list__input-email,
.product-list__input-email::placeholder {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;    
    color: #FFFFFF;   
    opacity: 0.5;
}
.product-list__input-email:focus::placeholder {
    opacity: 0;
}
.product-list__input-button {
    width: 76px;
    border-radius: 6px;
    padding: 0;
    z-index: 2;
}
.product-list__input-button-arrow {
    position: absolute;
    top: 21px;
    right: 29px;
    z-index: 1;
}
.product-list__input-button-wrapper:hover {
    cursor: pointer;
    background-color: #1b1b1b;
    border-radius:0 6px 6px 0;
}
.main__horizontal-line {
    content: attr(div);
    width: 100%;
    height: 1px;
    background: #FFFFFF;
    opacity: 0.1;
    margin: 60px 0;
}
.product-list-news__titles-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 53px;
    margin-bottom: 30px;
}
.product-list-news__title-new,
.product-list-news__title-popular {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 42px;
    opacity: 0.5;
    text-transform: uppercase;
    color: #FFFFFF;  
    border-bottom:  solid 2px;
    border-color: #373737;
}
.product-list-news__title-new:hover,
.product-list-news__title-new:focus,
.product-list-news__title-popular:hover,
.product-list-news__title-popular:focus {
    box-sizing: border-box;
    opacity: 1;
    border-color: #C80000;
}
.product-list_one-row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    row-gap: 25px;
    column-gap: 18px;
}
.about {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
    column-gap: 80px;
    row-gap: 39px;
}
.about__first-description {
    grid-column: 2/4;
}
.about__second-description {
    grid-column: 1/3;
}
.about__title {
    max-width: 580px;
    font-family: 'Jura',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
    color: #FFFFFF;
    margin-bottom: 38px;
}
.about__text {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    margin: 13px 0 14px;
}
.about__subtitle {
    font-family: 'Jura', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 36px;
    color: #FFFFFF;
    margin-top: 39px;
}
.about__first-description > .about__text {
    max-width: 672px;
}
.history__title {
    font-family: 'Jura', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 41px;
    color: #FFFFFF;
    margin-bottom: 37px;
}
.history__banners {
    display: flex;
    justify-content: space-between;
    gap: 28px;
}
.history__banner-wrapper {
    width: 380px;
    height: 465px;
    border-radius: 14px;
    transition: all 0.15s;
    display: flex;
    flex-direction: column;
    justify-content: end;
    position: relative;
    text-decoration: none;
}
.history__banner-wrapper:nth-child(1) {
    background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5) ), url(../img/knife&meat.jpg);

}
.history__banner-wrapper:nth-child(2) {
    background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5) ), url(../img/without\ Insta\ cart.jpg);
}
.history__banner-wrapper:nth-child(3) {
    background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5) ), url(../img/brown\ knife.jpg);
}
.history__banner-wrapper:nth-child(1),
.history__banner-wrapper:nth-child(2),
.history__banner-wrapper:nth-child(3) {
    background-size: cover;
    background-repeat: no-repeat;
}
.history__banner-text {
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    color: #FFFFFF;
}
.history__date { 
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    color: #FFFFFF;
    position: absolute;
    top: 23px;
    right: 25px;
}
.history__banner-description-wrapper {
    background-color: rgba(200, 0, 0, 0);
    padding: 13px 33px 22px;
    border-radius:0 0 14px 14px;
    transition: all 0.1s;
}
.history__banner-wrapper:hover .history__banner-description-wrapper {
    background-color: rgba(200, 0, 0, 1);
}
.history__banner-wrapper:nth-child(1):hover {
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5) ), url(../img/knife&meat.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.history__banner-wrapper:nth-child(2):hover {
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5) ), url(../img/without\ Insta\ cart.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.history__banner-wrapper:nth-child(3):hover {
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5) ), url(../img/brown\ knife.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}


/* ADAPT TABLET */

@media screen and (max-width: 768.1px) {
    
    /* MAIN  */

    .main__horizontal-line {
        margin: 30px 0;
    }
    .header-banner-container,
    .main-container {
        max-width: 664px;
        padding: 17px;
    }
    .products {
        padding: 60px 0;
    }
    .products__kitchen-knife {
        max-width: 142px;
    }
    .product-list {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 30px;
        column-gap: 30px;
    }
    .product-list_one-row {
        grid-template-rows: repeat(2, auto);
    }
    .product-list__news-wrapper {
        grid-column: 1/3;
    }
    .product-list__about-collection {
        max-width: unset;
        background-size: cover;
        background-repeat: no-repeat;
        height: 514px;
    }
    .about {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, auto);
        column-gap: 30px;
        row-gap: 30px;
    }
    .about__title,
    .about__subtitle {
        font-size: 24px;
        line-height: 28px;
        text-transform: uppercase;
    }
    .about__first-illustration,
    .about__second-illustration {
        width: 100%;
    }
    .about__first-description {
        grid-column: 2/3;
        padding-top: 78px;
    }
    .about__second-description {
        grid-column: 1/2;
        display: flex;
        flex-direction: column;
    }
    .about__subtitle {
        order: 1;
        margin-top: 0;

    }
    .about__text {
        order: 2;
        font-size: 14px;
        line-height: 20px;
        color: #ADACAC;
    }
    .about__text_margin {
        display: block;
        margin-top: 20px;
    }
    .about__second-description {
        grid-row: 3;
        grid-column: 2/3;
    }
    .history__banners {
        flex-direction: column;
    }
    .history__banner-wrapper {
        width: 100%;
    }

}

/* MOBILE  */

@media screen and (max-width: 566px) { 
    /* MAIN  */

    .main {
        margin-top: 13px;
    }
    .products {
        display: none;
    }
    .product-list {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, auto);
        column-gap: 15px;
        row-gap: 15px;
    }
    .product-list_one-row {
        grid-template-rows: repeat(2, auto);
    }
    .product-list-news__title-wrapper {
        grid-column: 1/3;
    }
    .product-list__news {
        font-size: 18px;
        line-height: 21px;
    }
    .about {
        display: flex;
        flex-direction: column;
    }
    .about__first-description {
        padding-top: 0;
    }
    .about__second-illustration {
        order: 3;
    }
    .about__second-description {
        order: 4;
    }
}

@media screen and (max-width: 469.1px) {
    .history__banner-description-wrapper {
        padding: 13px 13px 22px ;
    }
}

/* SLICK  */
.background {
    display: block !important;
    width: 100%;
    height: 590px;
}
/* .background:nth-child(1) {
    background-image: url(../img/menu-bnd-img1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.background:nth-child(2) {
    background-image: url(../img/home-and-knifes.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.background:nth-child(3) {
    background-image: url(../img/knife-gallery.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.background:nth-child(4) {
    background-image: url(../img/blue-knife-FHD.jpg);
    background-size: cover;
    background-repeat: no-repeat;
} */
#slick-slide00 {
    background-image:linear-gradient(268.39deg, rgba(0, 0, 0, 0) 21.45%, #000000 85.16%), url(../img/menu-bnd-img1.jpg) !important;
    background-size: cover;
    background-repeat: no-repeat;
}
#slick-slide01 {
    background-image:linear-gradient(268.39deg, rgba(0, 0, 0, 0) 21.45%, #000000 85.16%), url(../img/home-and-knifes.jpg)  !important;
    background-size: cover;
    background-repeat: no-repeat;
}
#slick-slide02 {
    background-image:linear-gradient(268.39deg, rgba(0, 0, 0, 0) 21.45%, #000000 85.16%), url(../img/knife-gallery.jpg)  !important; 
    background-size: cover;
    background-repeat: no-repeat;
}
#slick-slide03 {
    background-image:linear-gradient(268.39deg, rgba(0, 0, 0, 0) 21.45%, #000000 85.16%), url(../img/blue-knife-FHD.jpg)  !important;
    background-size: cover;
    background-repeat: no-repeat;
}