.header {
    position: relative;
    height: 590px;
    background: url(../img/menu-bnd-img1.jpg); 
    background-size: cover;
}
.header__buy-wrapper {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 20px;
}
.header__buy-link  {
    display: block;
    width: 165px;
    padding: 16px 34px;
    border: 2px solid #C80000;
    border-radius: 27px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 23px;
    color: #FFFFFF;    
    text-decoration: none;
    transition: all 0.15s;
    text-align: center;
}
.header__price {
    font-family: 'Atomic Alice', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;    
}
.knife-benefits {
    padding: 90px 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 89px;
    column-gap: 30px;
}
.knife-benefits__title-wrapper {
    max-width: 410px;
    justify-self: center;
    align-self: center;
}
.knife-benefits__title {
    font-family: 'Jura', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.knife-benefits__subtitle {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    padding-top: 24px;
}
.about-product {
    background-color: #272727;
}   
/* .about-product__gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 90px 0;
    gap: 30px;
    overflow: hidden;
} */
#my-video {
    width: 100%;
}
.vjs-poster {
    background-size: cover !important;
}
.video-js .vjs-big-play-button {
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    width: 72px !important;
    height: 72px !important;
    line-height: 72px !important;
    border-radius: 50% !important;
    background-color: #C80000 !important;
    border: none !important;
}
.about-product__drawing {
    flex: 0 1 407px;    
}
.about-product__characteristics-wrapper {
    padding: 90px 0;
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
.about-product__characteristics {
    margin-right: 161px;
    align-self: center;
    flex: 0 1  419px;
}
.about-product__characteristics-title {
    display: inline-block;
    font-family: 'Jura', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    padding-bottom: 6px;
    border-bottom: solid 2px #C80000;
}
.about-product__characteristics-title_top {
    display: none;
}
.about-product__characteristics-list {
    margin-top: 20px;
}
.about-product__characteristics-li {
    display: flex;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    padding: 15px 0 10px;
    border-bottom: 1px solid #4F4F4F;
}
.about-product__characteristics-more {
    margin-top: 31px;
    display: flex;
    align-items: center;
    gap: 15px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #ADACAC;
    cursor: pointer;
}
.about-product__characteristics-more::before {
    content: url(../img/plus.svg);
    height: 24px;
}
.product-list-container {
    margin-top: 30px;
}
.product-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, auto);
    row-gap: 30px;
    column-gap: 30px;
}
.product-list__about-collection {
    grid-column: 1/3;
    display: flex;
    flex-direction: column;
    justify-content: end;
    max-width: 590px;
    background: url(../img/tuotown-collection.jpg);
    border-radius: 14px;
}
.product-list__about-collection-link {
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    padding: 0 26px 28px;

}
.product-list__title {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 28px;
    color: #FFFFFF;
}
.product-list__knives-wrapper {
    position: relative;
}
.product-list__description-and-wishlist {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 30px;
    left: 30px;
    right: 30px;
    gap: 10px;
}
.product-list__add-to-wishlist{
    width: 37px;
    height: 37px;
    border-radius: 50%;
    transition: all 0.1s;
    flex-shrink: 0;
}
.product-list__add-to-wishlist:hover {
    background-color: #C80000;
    
}
.product-list__img-link {
    padding: 97px 18px 0;
}
.product-list__name-of-knife {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    padding-top: 7px;
}
.product-list__price {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #ADACAC;
    padding-top: 8px;
    white-space: nowrap;
}
.product-list__new {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 28px;
    color: #FF3232;
}
.knews-wrapper_background {
    background-image: url(../img/Insta\ cart.jpg);
    background-repeat: no-repeat;
}
.product-list-news__title-wrapper {
    grid-column: 1/5;
    padding-top: 60px;
}
.product-list-news__title {
    display: inline-block;
    text-align: start;
    font-family: 'Jura';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;   
    color: #FFFFFF;
    border-bottom: solid 1px #C80000;   
    padding-bottom: 6px;
}
.product-list_one-row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    row-gap: 25px;
    column-gap: 18px;
}



/* ADAPT DESKTOP */

@media screen and (max-width: 1000.1px) {
    .about-product__characteristics {
        margin-right: 81px;
    }
}

/* ADAPT TABLET */

@media screen and (max-width: 768.1px) {

    /* CONTAINER  */

    .container {
        max-width: unset;
        padding: 0 69px;
    }
    .menu-container,
    .info-container {
        padding: 0 17px;
    }

    /* MAIN  */
    
    .about-product__characteristics-wrapper {
        flex-direction: column;
        align-items: center;
    }
    .about-product__characteristics-title_top {
        display: inline-block;
        max-width: 195px;
    }
    .about-product__characteristics-title_right {
        display: none;
    }
    .about-product__characteristics {
        margin-right: 0;
        width: 100%;
        flex: unset;
    }
    .about-product__drawing {
        flex: unset;
        max-width: 250px;
    }
    .knife-benefits {
        padding: 30px 0 90px;
        row-gap: 30px;
    }
    .knife-benefits__title-wrapper {
        max-width: 300px;
        padding-top: 78px;
        justify-self: start;
        align-self: flex-start;

    }
    .knife-benefits__subtitle {
        font-size: 14px;
        line-height: 20px;
    }
    .product-list {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, auto);
    }
    .product-list-news__title-wrapper {
        grid-column: 1/3;
    }
    .product-list__news {
        font-size: 18px;
        line-height: 21px;
    }
}

/* MOBILE  */

@media screen and (max-width: 566px) { 
    /* HEADER  */

    .header__slider-wrapper {
        padding: 71px 0 0;
    }

    /* MAIN   */
    .container {
        max-width: unset;
        padding: 0 15px;
    }
    .main-container {
        padding: 17px;
    }
    .about-product__characteristics-wrapper {
        gap: 30px;
        padding: 30px 0;
    }
    .about-product__characteristics-title_top {
        font-size: 18px;
        line-height: 21px;
        padding-bottom: 5px;
    }
    .about-product__characteristics-li {
        font-size: 14px;
        line-height: 20px;
    }
    .product-list {
        column-gap: 15px;
        row-gap: 15px;
    }
    .product-list__description-and-wishlist {
        top: 15px;
        bottom: 15px;
        left: 10px;
        right: 10px;
        gap: 10px;
    }
    .product-list__subtitle-wrapper {
        align-self: flex-end;
    }
    .product-list__name-of-knife {
        font-size: 11px;
        line-height: 13px;
    }
    .product-list__illustration {     
        height: unset;
      }
    .product-list__img-link {
        width: 100%;
        height: 100%;
        padding: 14px 18px 67px;
    }
    .product-list__img {
        width: 100%;
        height: 100%;
    }
    .product-list__news-wrapper {
        padding: 30px 0 30px;
    }
    .about-product__drawing {
        max-width: 144px;
    }
    .knife-benefits {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 30px 0 0;
    }
    .knife-benefits__title-wrapper {
        padding-top: 0;
        padding-bottom: 52px;
    }
    .knife-benefits__title-wrapper:nth-child(2) {
        order: 4;
    }
    .knife-benefits__subtitle {
        font-size: 13px;
        line-height: 16px;
    }
    .knife-benefits__second-illustration {
        order: 3;
    }
}