@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list
{
    background: #fff url('./ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('./fonts/slick.eot');
    src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
}
/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    bottom: 61px;

    display: block;

    width: 48px;
    height: 48px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    z-index: 2;
    cursor: pointer;

    
    border: 1px solid rgba(255, 255, 255, 0.1);
    outline: none;
    border-radius: 50%;
    transition: all 0.1s;
}

.slick-prev
{
    background-image: url(../img/arrow-left.svg);
    background-color: unset;
    left: 120px;
}
/* [dir='rtl'] .slick-prev
{
    left: auto;
} */
.slick-next {
    background-image: url(../img/arrow-right.svg);
    background-color: unset;
    right: 120px;
}
.slick-prev:hover,
.slick-next:hover {
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 1);
}
/* [dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
} */
/*
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}
*/
.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


/*.slick-prev:before
{
    content: '←';
}
[dir='rtl'] .slick-prev:before
{
    content: '→';
}
*/
/*.slick-next:before
{
    content: '→';
}
[dir='rtl'] .slick-next:before
{
    content: '←';
}
*/
/* Dots */
/* .slick-dotted.slick-slider
{
    margin-bottom: 30px;
} */

.slick-dots
{
    position: absolute;
    bottom: 97px;
    display: block;
    width: 50vw;
    padding: 0;
    margin: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    text-align: center;
}
@media screen and (max-width: 707px) {
    .slick-dots {
        width: 90vw;
    }
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 19px;
    height: 19px;
    margin: 0 21px;
    padding: 0;

    cursor: pointer;
    list-style: decimal !important;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;

}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}

#slick-slide-control00::before {
    content: '1';
}
#slick-slide-control01::before {
    content: '2';
}
#slick-slide-control02::before {
    content: '3';
}
#slick-slide-control03::before {
    content: '4';
}

#slick-slide-control00::before,
#slick-slide-control01::before,
#slick-slide-control02::before,
#slick-slide-control03::before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;


    text-align: center;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

/* .slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;


    text-align: center;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

} */

.slick-dots li.slick-active button:before
{   
    font-family: 'slick' !important;
    content: '•' !important;
    color: white;
    font-size: 19px;
}

@media screen and (max-width: 710.1px) {
    .slick-next,
    .slick-prev {
        display: none !important;
    }
}